@model CreateFlightViewModel
@{
    ViewData["Title"] = "Delete Flight";
    List<RouteViewModel> routes = ViewBag.Routes;
    List<AircraftViewModel> aircrafts = ViewBag.Aircrafts;
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2"> @ViewData["Title"]  </h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form asp-action="Delete" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>



            <div class="form-group form-floating mb-3">
                <select asp-for="RouteId" class="form-select" disabled>
                    <option value="" selected>Please select...</option>
                    @if (routes != null)
                    {
                        @foreach (RouteViewModel route in routes)
                        {
                            <option value="@route.Id">@route.StartPoint -> @route.EndPoint</option>
                        }
                    }
                </select>

                <label asp-for="RouteId" class="form-label">Route</label>
                <span asp-validation-for="RouteId" class="text-danger small"></span>
            </div>


            <div class="form-group form-floating mb-3">
                <select asp-for="AircraftId" class="form-select" disabled>
                    <option value="" selected>Please select...</option>
                    @if (aircrafts != null)
                    {
                        @foreach (AircraftViewModel aircraft in aircrafts)
                        {
                            <option value="@aircraft.Id">@aircraft.Name (@aircraft.SeatCount Seats)</option>
                        }

                    }
                </select>
                <label asp-for="AircraftId" class="form-label">Aircraft</label>
                <span asp-validation-for="AircraftId" class="text-danger small"></span>
            </div>


            <div class="form-group form-floating mb-3">
                <input asp-for="FlightTime" class="form-control" id="theDate" placeholder="Flight Date" type="date" value="@Model.FlightTime.ToString("yyyy-MM-dd")" disabled />
                <label asp-for="FlightTime" class="form-label">Flight Date</label>
                <span asp-validation-for="FlightTime" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3 d-grid">
                <button type="submit" class="btn btn-danger">Delete Flight</button>
            </div>

        </form>
    </div>
</div>