@model List<FlightViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3 class="fw-light">Welcome @ViewBag.UserName</h3>
    <h1 class="fw-light">Discover Our Flights</h1>
    <h1 class="fw-light">Compare Cheap Flight Tickets and Buy Flight Ticket at Unicorn</h1>
</div>

<div class="container-soft">
    <h3 class="fw-light">Welcome @ViewBag.UserName</h3>
    <h1 class="fw-light">Discover Our Flights</h1>
    <h1 class="fw-light">Compare Cheap Flight Tickets and Buy Flight Ticket at Unicorn</h1>
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Flight Number</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Aircraft</th>
                    <th>Seat Count</th>
                    <th>Flight Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (FlightViewModel flight in Model)
                {
                    <a asp-controller="Flight" asp-action="Details" ></a>
                    <tr>
                        <td>@flight.Id.ToString().Substring(0,7).ToUpper()</td>
                        <td>@flight.Route.StartPoint</td>
                        <td>@flight.Route.EndPoint</td>
                        <td>@flight.Aircraft.Name</td>
                        <td>@flight.Aircraft.SeatCount</td>
                        <td>@flight.FlightTime.ToString("dddd, dd MMMM yyyy")</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>