@model List<FlightViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3 class="fw-light">Welcome,</h3>
    <h1 class="fw-light">Explore the Skies with Our Unbeatable Flight Deals!</h1>
    <h1 class="fw-light">Your Gateway to Affordable and Exciting Travel Experiences!</h1>
</div>



<div class="row">
    <div class="col">
        <div class="row flight-headers">
            <div class="col-2">Flight Number</div>
            <div class="col-2">From</div>
            <div class="col-2">To</div>
            <div class="col-2">Aircraft</div>
            <div class="col-2">Seat Count</div>
            <div class="col-2">Flight Date</div>
        </div>


        @foreach (FlightViewModel flight in Model)
        {
            <a class="text-decoration-none text-black" asp-controller="Flight" asp-action="Details" asp-route-id="@flight.Id">
                <div class="row flight-list-item">
                    <div class="col-2">@flight.Id.ToString().Substring(0,7).ToUpper()</div>
                    <div class="col-2">@flight.Route.StartPoint</div>
                    <div class="col-2">@flight.Route.EndPoint</div>
                    <div class="col-2">@flight.Aircraft.Name</div>
                    <div class="col-2">@flight.Aircraft.SeatCount</div>
                    <div class="col-2">@flight.FlightTime.ToString("dddd, dd MMMM yyyy")</div>
                </div>
            </a>
        }


    </div>
</div>

<div class="container-soft text-center">
    <h1 class="fw-light">Join SkyMiles Rewards: Earn Points with Every Flight!</h1>
    <h1 class="fw-light">Enjoy VIP Treatment with Our Limited Special Upgrade!</h1>
</div>
@section Scripts{

    @if (TempData["error"] != null)
    {
                <script>
                    toastr["error"]("Something went wrong!", "Error")
                </script>
    }
    @if (TempData["bought"] != null)
    {
                <script>
                    toastr["success"]("Seat bought successfully!", "Success")
                </script>
    }
    @if (TempData["edited"] != null)
    {
                <script>
                    toastr["info"]("Flight updated successfully!", "Success")
                </script>
    }
    @if (TempData["deleted"] != null)
    {
                <script>
                    toastr["warning"]("Flight deleted successfully!", "Deleted")
                </script>
    }
}